.highlight
    
    border-radius: 5px
    .code
        .subst,
        .title
            font-weight: normal
            color: #000

        .comment,
        .quote
            color: #808080
            font-style: italic

        .meta
            color: #808000

        .tag
            background: #efefef

        .section,
        .name,
        .literal,
        .keyword,
        .selector-tag,
        .type,
        .selector-id,
        .selector-class
            font-weight: bold
            color: #2d96bd

        .attribute,
        .number,
        .regexp,
        .link
            font-weight: bold

        .number,
        .regexp,
        .link
            font-weight: normal

        .string
            color: #008000
            font-weight: bold

        .doctag
            text-decoration: underline

        .variable,
        .template-variable
            color: #660e7a

        .addition
            background: #baeeba

        .deletion
            background: #ffc8bd

        .emphasis
            font-style: italic

        .strong
            font-weight: bold