<div class="container app-list-c">
    <div class="app-title post-title">
        - App -
    </div>
    <div class="app-list">
        <div class="app" onclick="linkTo('/app-page/HotSearch.html')">
            <img src="../image/HotSearch/HotSearch.png" alt="">
            <span class="label">
                    Hot Search
                </span>
        </div>
        <div class="app" onclick="linkTo('/app-page/todo.html')">
            <img src="../image/todo/todo.png" alt="">
            <span class="label">
                    todo
                </span>
        </div>
    </div>

</div>
<script>
    const linkTo = (url) => {
        location.href = url
    }
</script>
<style>
    .app-list-c {
        width: 100%;
        max-width: 780px;
        margin: 0 auto;
        padding-top: 2rem;
    }

    .app-title {
        /*font-size: 20px;*/
        margin-bottom: 30px;
        font-size: 2em;
        line-height: 1.5em;
    }

    .app-list {
        display: flex;
        flex-wrap: wrap;
    }

    .app {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 64px 16px 0;
        cursor: pointer;
    }

    .app img {
        width: 64px;
        height: 64px;
        margin-bottom: 16px;
    }

</style>
